{% extends 'base/app.twig' %}

{% set page_title = 'Tutorial de estrategias de aprendizaje' %}

{% block content %}
<div id="ingreso-peque" class="d-xl-none bg-azul py-2 josh-js" data-josh-anim-name="fadeIn">


    <div class="container-fluid">
        <div class="row">
            <div class="col-8 d-flex justify-content-start">
            <img src="img/logos/logo-unam.svg" alt="">
            <img src="img/logos/logo-cch.svg" class="d-none d-sm-inline mx-5" alt="">
            <img src="img/logos/logo-portal-cch.svg"  class="d-none d-md-inline" alt="">
            <!--    <a href="https://www.unam.mx/" target="_blank" class="ml-auto"><img src="img/logos/logo-unam.svg"  alt=""></a>
                <a href="https://www.cch.unam.mx/" target="_blank" class="ml-5 d-none d-sm-inline"><img src="img/logos/logo-cch.svg"  alt=""></a>
                <a href="https://portalacademico.cch.unam.mx/" target="_blank" class="ml-5 d-none d-md-inline"><img src="img/logos/logo-portal-cch.svg" alt=""></a>-->
            </div>
            <div class="col-4">
            <a class="btn btn-outline-light btn-sm hvr-glow d-flex align-items-center float-right" href="{{base_path()}}entrar">
                <i class="fas fa-user-friends fa-2x mx-2 "></i>
                Ingresar
            </a>

            </div>
        </div>
    </div>




</div>

<div id="logos" class="d-xl-flex align-items-center josh-js delay-1s d-none" data-josh-anim-name="fadeInLeft">


    <img src="img/logos/logo-unam.svg" alt="">
    <img src="img/logos/logo-cch.svg" class="mx-5" alt="">
    <img src="img/logos/logo-portal-cch.svg" class="portal" alt="">
</div>

<div class="josh-js delay-2s shadow d-none d-xl-block" data-josh-anim-name="backInRight" id="login">

    <div class="p-4 ">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h2 class="">Usuario</h2>
            <i class="fas fa-user-friends amarillo fa-3x "></i>
        </div>

        <form class="form-signin" action="/entrar" method="post">
            <input type="text" name="username" class="form-control" placeholder="Usuario" required="required" autofocus="autofocus">
            <input type="password" name="password" class="form-control my-3" placeholder="Contraseña" required="required">
            <input class="btn btn-lg bg-amarillo btn-block my-3 hvr-glow" type="submit" value="Ingresar">
        </form>
        <p><strong>Alumno</strong>: El usuario es tu número de cuenta sin guiones y la contraseña es tu fecha de nacimiento en formato DDMMAAAA (Ejemplo: 31122005).</p>
        <p><strong>Profesor</strong>: El usuario es su RFC (con homoclave y sin guiones), y la contraseña es su número de trabajador de la UNAM.</p>
        <!--<hr>
        <form class="form-signin">
            <button class="btn  btn-secondary btn-sm  btn-block" type="submit">Ingresar como invitado</button>
        </form>-->
    </div>
</div>

<header class="masthead josh-js delay-1s" data-josh-anim-name="fadeIn">


    <div class=" h-100">
        <div class="row no-gutters h-100 align-items-end">
            <div class="col-lg-7 mx-auto">
                <div class="mx-auto text-center pb-5">
                        <img src="img/homearriba-prov.png" class="w-75 mb-3  josh-js" data-josh-anim-name="fadeIn" data-josh-anim-delay="2s" alt="">


                        <h1 class="pb-3 josh-js  delay-3s" data-josh-anim-name="bounceInUp" data-josh-anim-delay="0.5s">TEA
                        <span>| Tutorial de estrategias de aprendizaje</span></h1>
                        <h2 class="mt-3 josh-js delay-3s" data-josh-anim-name="bounceInUp" data-josh-anim-delay="1s">¡Bienvenida generación 2022!</h2>
                        <a class="js-scroll-trigger hvr-wobble-vertical" href="#informacion">
                        <i class=" fas fa-5x fa-angle-double-down josh-js" data-josh-anim-name="bounceInUp" data-josh-anim-delay="3s"></i>


                    </a>
                </div>
            </div>

        </div>
    </div>
</header>

<div class="max-cont">
    <section id="informacion">
        <div class="row no-gutters">
            <div class=" col-11 col-xl-7 col-md-10 mx-auto">
                <p>Ahora eres parte de uno de los cinco planteles del CCH y tenemos para ti este
                    <strong>Tutorial de estrategias de aprendizaje</strong>, con el fin de que puedas
                    <strong>aprender a aprender</strong>
                    mejor a lo largo de tu trayectoria en el Colegio.</p>
                <p>En este tutorial revisarás los siguientes contenidos:</p>
                <div class="row my-5">
                    <div class="col-lg-10 mx-auto">
                        <div class="row">
                            <div class="col-12 col-lg-6 p-3">
                                <div class="bg-azul shadow text-center p-2">
                                    <h1 >El CCH y su modelo educativo</h1>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 p-3">
                                <div class="bg-rosa shadow text-center p-2">
                                    <h1>Aprender a aprender</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 col-lg-6 p-3">
                                <div class="bg-verde shadow text-center p-2">
                                    <h1 class="align-middle">Recursos para aprender</h1>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 p-3">
                                <div class="bg-morado shadow text-center p-2">
                                    <h1 class="align-middle">TIC para aprender</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 mx-auto col-xl-12 mx-auto">
                        <p class="enfasis text-center">¡Que tengas mucho éxito en este nuevo ciclo escolar!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div id="ilustracion-index" class="d-none d-lg-block josh-js" data-josh-anim-name="slideInUp">
            <img src="img/index-ilustracion.png" alt="ilus">
        </div>
        <div class="w-100 bg-rosa text-right">
            <div class="container-fluid">
                <div class="col-12 py-1">
                    <p><strong>Ayuda para ingresar:</strong> <a class="bibliografia_link" href="mailto:soportec@cch.unam.mx">soportec@cch.unam.mx</a></p>
                </div>
            </div>
        </div>
        <div class="row no-gutters  position-absolute" style="z-index:9999999999999;">
            <div class="col-lg-10 mx-auto">
                <p class="pt-5">Recomendamos utilizar el explorador web Mozilla Firefox, Google Chrome, Internet Explorer versión 9 o superior.</p>
                <p>2021 Escuela Nacional Colegio de Ciencias y Humanidades | Hecho en México | © Todos los derechos reservados. Esta página electrónica puede ser reproducida, sin objeto comercial, siempre y cuando su contenido no se mutile o altere, se cite la fuente completa y la dirección Web de conformidad con el artículo 148 de la Ley Federal del Derecho de Autor, de otra forma, se requerirá permiso previo y por escrito de la UNAM.</p>
            </div>

        </div>
    </footer>
</div>
{% endblock %}
