{% extends 'base/app-bloques.twig' %}

{% set page_title = 'TEA' %}

{% block content %}

    <h1>Prueba 1</h1>

    <!-- DEMO 4 -->
    <!------------------ Hover Effect Style : Demo - 8 --------------->
       <div class="container mt-5">
           <div class="row">
               <div class="col-lg-6">
                   <div class="row no-gutters">
                       <div class="col-12">
                           <div class="box8 bg-rosa">
                               <h3 class="title">Observar</h3>
                               <div class="box-content p-2">
                                   Examinar, mirar con atención y recato.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-azul">
                               <h3 class="title">Describir</h3>
                               <div class="box-content p-2">
                                   Explicar, de forma detallada y ordenada, cómo son las personas, los lugares o los objetos.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-verde">
                               <h3 class="title">Caracterizar</h3>
                               <div class="box-content p-2">
                                   Determinar los atributos peculiares de alguien o de algo, de modo que claramente se distinga de los demás.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-morado">
                               <h3 class="title">Comprender</h3>
                               <div class="box-content p-2">
                                   Conocer o tener idea clara de las cosas.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-rosa">
                               <h3 class="title">Observar</h3>
                               <div class="box-content p-2">
                                   Examinar, mirar con atención y recato.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-azul">
                               <h3 class="title">Describir</h3>
                               <div class="box-content p-2">
                                   Explicar, de forma detallada y ordenada, cómo son las personas, los lugares o los objetos.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-verde">
                               <h3 class="title">Caracterizar</h3>
                               <div class="box-content p-2">
                                   Determinar los atributos peculiares de alguien o de algo, de modo que claramente se distinga de los demás.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-morado">
                               <h3 class="title">Comprender</h3>
                               <div class="box-content p-2">
                                   Conocer o tener idea clara de las cosas.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-rosa">
                               <h3 class="title">Observar</h3>
                               <div class="box-content p-2">
                                   Examinar, mirar con atención y recato.
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-lg-6">
                   <div class="row no-gutters">
                       <div class="col-12">
                           <div class="box8 bg-rosa">
                               <h3 class="title">Observar</h3>
                               <div class="box-content p-2">
                                   Examinar, mirar con atención y recato.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-azul">
                               <h3 class="title">Describir</h3>
                               <div class="box-content p-2">
                                   Explicar, de forma detallada y ordenada, cómo son las personas, los lugares o los objetos.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-verde">
                               <h3 class="title">Caracterizar</h3>
                               <div class="box-content p-2">
                                   Determinar los atributos peculiares de alguien o de algo, de modo que claramente se distinga de los demás.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-morado">
                               <h3 class="title">Comprender</h3>
                               <div class="box-content p-2">
                                   Conocer o tener idea clara de las cosas.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-rosa">
                               <h3 class="title">Observar</h3>
                               <div class="box-content p-2">
                                   Examinar, mirar con atención y recato.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-azul">
                               <h3 class="title">Describir</h3>
                               <div class="box-content p-2">
                                   Explicar, de forma detallada y ordenada, cómo son las personas, los lugares o los objetos.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-verde">
                               <h3 class="title">Caracterizar</h3>
                               <div class="box-content p-2">
                                   Determinar los atributos peculiares de alguien o de algo, de modo que claramente se distinga de los demás.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-morado">
                               <h3 class="title">Comprender</h3>
                               <div class="box-content p-2">
                                   Conocer o tener idea clara de las cosas.
                               </div>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="box8 bg-rosa">
                               <h3 class="title">Observar</h3>
                               <div class="box-content p-2">
                                   Examinar, mirar con atención y recato.
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>



    <div class="container-fluid bg-rosa mt-5 responde">
        <div class="container">
        <div class="responde-icon bg-rosa shadow text-white"><i class="far fa-2x fa-grin"></i></i></div>
        <h5 class="text-white font-weight-bold">
             &nbsp; Ahora responde...  </h5>
        </div>
    </div>

    <style media="screen">

    /*
    *
    * ==========================================
    * CUSTOM UTIL CLASSES
    * ==========================================
    *
    /* With arrow tabs */
    /* DEMO GENERAL ============================== */
    /*********************** Demo - 8 *******************/
    .box8 .icon,.box8 .title{margin:0;position:absolute}
    .box8{overflow: hidden;width: 100%;min-height: 100px;box-shadow:0 0 3px rgba(0,0,0,.3);position:relative}
    .box8 img{width:100%;height:auto}
    .box8 .box-content{color:white;width:100%;height:100%;background:rgba(0,0,0,.6);opacity:0;position:absolute;top:0;left:0;transform:perspective(400px) rotateX(-90deg);transform-origin:center top 0;transition:all .5s ease 0s}
    .box8 .icon li a,.box8 .title{background:#ef4050;font-size:20px;color:#fff}
    .box8:hover .box-content{opacity:1;transform:perspective(400px) rotateX(0)}
    .box8 .title{padding:5px 7px;border-radius:5px;font-weight:600;bottom:20px;left:20px;transition:all .9s ease 0s}
    .box8 .icon li a,.box9 .box-content,.box9 .icon li,.box9 img{transition:all .35s ease 0s}
    .box8:hover .title{bottom:-40px}
    .box8 .icon{list-style:none;padding:0;top:42%;left:0;right:0}
    .box8 .icon li a{display:block;width:40px;height:40px;line-height:40px;border-radius:50%;margin-right:7px}
    .box9 .icon,.box9 .title{width:100%;font-size:22px}
    .box8 .icon li a:hover{background:#fff;color:#000}
    @media only screen and (max-width:990px){.box8{margin-bottom:20px}
    }


    </style>

{% endblock %}
