{% extends 'base/app.twig' %}

{% set page_title = 'Pagina no encontrada' %}

{% block content %}
<!-- aqui va el codigo html -->
<div class="container-fluid">
    <img src="img/404.webp" alt="" class="img-responsive d-block mx-auto">
    <div class="row">
        <div class="col-12 text-center mt-5 lead display-1">
            Parece que algo salió mal. La página que estás buscando no existe.
        </div>
    </div>
</div>

{% endblock %}
