{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Aviso legal' %}

{% block content %}

    <div class="bg-morado py-3 container-fluid">
        <div class="container">
            <h1 class=" titulobloque wow bounceInUp delay-1s text-right">TEA
                <span>| Tutorial de estrategias de aprendizaje</span></h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- CUSTOM BLOCKQUOTE -->
                <div class="blockquote blockquote-custom bg-warning p-5 effect-1 rounded">
                    <i class="fas fa-copyright fa-3x"></i>
                    <span class="enfasis ">Aviso legal</span>
                    <p class="lead mt-5">Toda la información contenida en el Tutorial de Estrategias de Aprendizaje, están protegidos por derechos de autor u otros derechos de protección de la propiedad intelectual.</p>
                </div>
                <!-- END -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <h2 class="mb-3 morado">Sobre el uso de los contenidos en línea</h2>
                <p>Esta página electrónica puede ser reproducida, sin objeto comercial, siempre y cuando su contenido no se mutile o altere, se cite la fuente completa y la dirección Web de conformidad con el artículo 148 de la Ley Federal del Derecho de Autor, de
                    otra forma, se requerirá permiso previo y por escrito de la Escuela Nacional Colegio de Ciencias y Humanidades.</p>
                <p>Los usuarios de Internet que accedan a este sitio Web pueden visualizar la información contenida en el mismo y efectuar descargas o reproducciones privadas en su sistema informático, siempre que los elementos reproducidos no sean cedidos
                    posteriormente a terceros o se instalen en un servidor conectado a Internet o a una red local.</p>
                <p>No se permite, la distribución, modificación, cesión, comunicación pública, reproducciones ni cualquier otro acto de parte o la totalidad de la información publicada en el Portal Académico, sin autorización previa, realizada con fines de lucro u
                    otros fines que no sean estrictamente académicos.</p>
                <p>Las opiniones expresadas por los usuarios en los foros no expresan necesariamente la opinion de la Escuela Nacional Colegio de Ciencias y Humanidades. Los administradores del Portal Académico se reservan el derecho de omitir comentarios que
                    considere difamatorios, ilegales, amenazantes, obscenos, objetables o reprobables.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-rosa mt-3 mb-5">
        <div class="container">
            <div class="p-2 text-white lead text-center">
                <i class="fas fa-link"></i>
                Para mayor información consulta el sitio “edición y derechos de autor en las publicaciones de la UNAM”:
                <a href="http://www.edicion.unam.mx" target="_blank">http://www.edicion.unam.mx</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-10 mx-auto">
                <h2 class="mb-3 morado">Sobre los derechos de autor</h2>
                <p>El autor de los materiales didácticos publicados en el Portal Académico, autoriza a la Escuela Nacional Colegio de Ciencias y Humanidades su publicación en cualquier soporte material, por medios electrónicos o cualesquiera otros conocidos o por
                    conocerse.</p>
                <p>Del mismo modo, manifestará bajo protesta de decir verdad que es el autor y titular de los derechos patrimoniales de los artículos remitidos, por lo que liberará a la Universidad Autónoma de México de toda responsabilidad presente o futura que
                    pudiera surgir con motivo de la obra objeto de la autorización y que pudiera afectar intereses de terceros.</p>
                <p>Igualmente, deberá incluir los créditos correspondientes a los autores de las imágenes, de los fragmentos de audio y video y la identidad de quien posea los derechos de autor correspondientes.</p>
                <p>Los materiales didácticos serán remitidos al Portal Académico, en el entendido de que una vez publicados los Derechos Reservados y el copyright serán transferidos a la Escuela Nacional Colegio de Ciencias y Humanidades de la UNAM.</p>

                <hr class="dotted mt-5 mb-5 morado">

                <p class="lead morado text-center">El autor deberá enviar una carta firmada de aceptación de las condiciones antes mencionadas.</p>
                <p class="lead morado text-center font-weight-bold mt-3">
                    <a href="https://portalacademico.cch.unam.mx/sites/default/files/2020-10/carta-derechos-autor-2020.doc" target="_blank">Descargar carta de derechos de autor
                        <i class="fas fa-file-signature"></i>
                    </a>
                </p>

                <hr class="dotted mt-5 mb-5 morado">

                <h2 class="mb-3 morado">Departamento de Medios Digitales</h2>
                <p>Insurgentes Sur &amp; Circuito Escolar, Ciudad Universitaria, Coyoacán, C.P. 04510, Ciudad de México</p>
                <p><a href="mailto:portalacademico@cch.unam.mx"> <i class="fas fa-envelope azul"></i> portalacademico@cch.unam.mx</a></p>
                <p><i class="fas fa-phone azul"></i> (55) 5622 0021 o 5622 0180</p>

            </div>
        </div>
    </div>

{% endblock %}
