{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Bibliografía' %}

{% block content %}

    <div class="bg-morado py-3 container-fluid">
        <div class="container">
            <h1 class=" titulobloque wow bounceInUp delay-1s text-right">TEA
                <span>| Tutorial de estrategias de aprendizaje</span></h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- CUSTOM BLOCKQUOTE -->
                <div class="blockquote blockquote-custom bg-warning p-5 effect-1 rounded">
                    <i class="fas fa-highlighter fa-3x"></i>
                    <span class="enfasis ">Bibliografía</span>
                </div>
                <!-- END -->
            </div>
        </div>
    </div>
    <div id="bibliografia" class="container">
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <h2 class="mb-3 morado">Libros y revistas</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Alonso, C., Gallego D. J., y Honey, P. (1994).
                        <span class="font-italic">Cuestionario de Honey- Alonso de Estilos de Aprendizaje.</span>
                        Madrid: Instituto de Ciencias de la Educación (ICE).</li>
                    <li class="list-group-item">Angulo, O. y García. D. (2003).
                        <span class="font-italic">Estrategias de aprendizaje.</span>
                        Manual para el alumno. México: DGOSE, UNAM.
                    </li>
                    <li class="list-group-item">Araoz, E., Guerrero, P., Villaseñor, R. y Galindo, M. (2008). Estrategias para aprender a aprender. 33-38. En
                        <span class="font-italic">Comprensión lectora y producción de textos.</span>
                        México: Pearson Educación.</li>
                    <li class="list-group-item">Argudin, Y. (2005).
                        <span class="font-italic">Aprende a pensar escribiendo bien.</span>
                        México: Trillas.</li>
                    <li class="list-group-item">Colegio de Ciencias y Humanidades (2012).
                        <span class="font-italic">Informe sobre la Gestión Directiva.</span>
                        México: CCH, UNAM.</li>
                    <li class="list-group-item">Colegio de Ciencias y Humanidades (2006).
                        <span class="font-italic">Orientación y Sentido de las Áreas del Plan de Estudios Actualizado.</span>
                        México: CCH, UNAM.</li>
                    <li class="list-group-item">Colegio de Ciencias y Humanidades (1996).
                        <span class="font-italic">Plan de Estudios Actualizado.</span>
                        México: CCH, UNAM.</li>
                    <li class="list-group-item">Colegio de Ciencias y Humanidades (2010).
                        <span class="font-italic">Prontuario del estudiante. Lo que todo ceceachero debe saber para iniciar con éxito sus estudios de bachillerato.</span>
                        México: Secretaría de Comunicación Institucional-DGCCH, UNAM.</li>
                    <li class="list-group-item">Díaz, F. y Hernández, G. (1998).
                        <span class="font-italic">Estrategias Docentes para un Aprendizaje Significativo.</span>
                        México: McGraw-Hill.
                    </li>
                    <li class="list-group-item">Estévez, E. (2011).
                        <span class="font-italic">Enseñar a aprender. Estrategias cognitivas.</span>
                        Maestros y Enseñanza. México: Paidós.
                    </li>
                    <li class="list-group-item">Pérez, M.; Ortiz, M.; y Flores, M. (2015). Redes sociales en Educación y propuestas metodológicas para su estudio.
                        <span class="font-italic">Ciencia, Docencia y Tecnología</span>
                        (26), 50.</li>
                    <li class="list-group-item">Valdés, S. (2007).
                        <span class="font-italic">Orientación Educativa I. Un enfoque constructivista.</span>
                        México: Pearson Educación.
                    </li>
                    <li class="list-group-item">Valenzuela, R. (2013). Las redes sociales y su aplicación en la educación.
                        <span class="font-italic">Revista Digital Universitaria</span>
                        (14), 4.</li>
                </ul>
                <hr class="dotted mt-3 mb-3 azul">
                <h2 class="mb-3 morado">Fuentes electrónicas</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="font-italic">Aprender a aprender.</span>
                        (s.f.) Recuperado de http://www.psicopedagogia.com/definicion/aprender%20a%20aprender (junio, 2013).
                    </li>
                    <li class="list-group-item">Camacho-Arroyo, I. (2011) ¿Qué es el amor? Respuestas desde la biología.
                        <span class="font-italic">¿cómo ves? Revista de Divulgación de la Ciencia de la UNAM</span>, 147. Recuperado de http://www.comoves.unam.mx/assets/revista/147/que-es-el-amor-respuestas-desde-la-biologia.pdf (julio, 2013).</li>
                    <li class="list-group-item">Colegio de Ciencias y Humanidades (2005). Documento de Trabajo Orientación y Sentido del Área Histórico-Social. Revisión del Plan de Estudios - Tercera Etapa. Recuperado de
                        http://www.cch.unam.mx/sites/default/files/osareas_histsoc130505.pdf (julio, 2013).</li>
                    <li class="list-group-item">
                        <span class="font-italic">Cómo se aprende a aprender.</span>
                        (s.f.) Recuperado de http://formacioncriticaromulosolorzano.blogspot.mx/2010/06/como-se-aprende-aprender.html (junio, 2013).</li>
                    <li class="list-group-item">Honey, A. (1994).
                        <span class="font-italic">Los estilos de aprendizaje: procedimientos de diagnóstico y mejora.</span>Recuperado https://www.researchgate.net/publication/311452891_Los_Estilos_de_Aprendizaje_Procedimientos_de_didiagnosti_y_mejora de (junio, 2013).</li>
                    <li class="list-group-item">Martínez, E., Sosa, J. Y Álvarez, F. (2014). El estudio de la biodiversidad en México: ¿una ruta con dirección? En:
                        <span class="font-italic">Revista Mexicana de Biodiversidad</span>, Suple. 85: S1-S9. Recuperado de http://www.ib.unam.mx/m/revista/pdfs/01.-_1612.pdf (septiembre, 2020).</li>
                    <li class="list-group-item">Regalado, O. (2010). Qué es un hashtag y cómo usarlo.
                        <span class="font-italic">Social Media.</span>
                        Recuperado de https://es.slideshare.net/dosensocial/qe-es-un-hashtag-en-twitter-y-cmo-usarlo (agosto, 2017).
                    </li>
                    <li class="list-group-item">
                        <span class="font-italic">Sitio internet del Colegio de Ciencias y Humanidades. Programas de estudio 2016.</span>
                        Recuperado de http://www.cch.unam.mx/programasestudio2016 (agosto, 2017).
                    </li>
                    <li class="list-group-item">Suárez, M. (2013). Cuaderno 5: Herramientas para organizar y planificar el estudio, 1-8. En
                        <span class="font-italic">Técnicas de estudio.</span>
                        Buenos Aires: Administración Nacional de la Seguridad Social-Presidencia de la Nación. Recuperado de http://www.academia.edu/11165453/Cuaderno_5_Herramientas_para_organizar_y_planificar_el_estudio_continuaci%C3%B3n_T%C3%A9cnicas_de_estudio (agosto,
                        2017).
                    </li>
                    <li class="list-group-item">Universidad Nacional Agraria la Molina. (s/f).
                        <span class="font-italic">Estilos de aprendizaje.</span>
                        Recuperado de http://www.lamolina.edu.pe/innovacioneducativa/images/files/cuestionario%20de%20Estilos%20de%20Aprendizaje.pdf (agosto, 2017).
                    </li>
                </ul>
                <hr class="dotted mt-3 mb-3 morado">
                <h2 class="mb-3 morado">Videos</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Arcos, D. (Productora) y González, G. (Director). (2017) <span class="font-italic">CCH AZCAPOTZALCO.</span> México: TV UNAM. Recuperado de https://youtu.be/_nYUZwPf548 (julio, 2018).</li>
                    <li class="list-group-item">Arcos, D. (Productora) y González, G. (Director). (2017) <span class="font-italic">CCH NAUCALPAN.</span> México: TV UNAM. Recuperado de https://youtu.be/jPriUSPsWm0 (julio, 2018).</li>
                    <li class="list-group-item">Arcos, D. (Productora) y González, G. (Director). (2017) <span class="font-italic">CCH ORIENTE.</span> México: TV UNAM. Recuperado de https://youtu.be/t29XQiMUBjI (julio, 2018).</li>
                    <li class="list-group-item">Arcos, D. (Productora) y González, G. (Director). (2017) <span class="font-italic">CCH SUR.</span> México: TV UNAM. Recuperado de https://youtu.be/sAGT44WpE7Y (julio, 2018).</li>
                    <li class="list-group-item">Arcos, D. (Productora) y González, G. (Director). (2017) <span class="font-italic">CCH VALLEJO.</span> México: TV UNAM. Recuperado De https://youtu.be/OaE7F_EZYcY (julio, 2018).</li>
                    <li class="list-group-item">Cloud Computing. Recuperado de http://www.youtube.com/watch?feature=player_embedded&v=VOn6tg3e1t4 (julio, 2013).
                    </li>
                    <li class="list-group-item">Colegio de Ciencias y Humanidades (2013). Modelo Educativo CCH. México: CCH-UNAM. Recuperado de https://www.youtube.com/watch?v=XaePaFEmngI (julio, 2013).</li>
                    <li class="list-group-item">Imaginantes. El efecto mariposa. Recuperado de https://www.youtube.com/watch?v=_w5uPPhlSQk (septiembre, 2020).
                    </li>
                    <li class="list-group-item">Instituto Cervantes (2011). <span class="font-italic">El español, una lengua que nos une.</span> Recuperado de http://www.youtube.com/watch?v=jHDF34hRBU0 (julio, 2013).</li>
                    <li class="list-group-item">ONCETVMÉXICO. (2012). 6 grados de separación. La piñata. Recuperado de http://www.youtube.com/watch?v=XZ8S0d2lgnA (agosto, 2013).</li>
                    <li class="list-group-item">Portal Académico del CCH. (2018) <span class="font-italic">Obtén tu correo paso a paso- Herramientas TIC.</span> Mexico: DGCCH. Recuperado de https://youtu.be/lDZ4r4peusg (julio, 2018).</li>
                    <li class="list-group-item">Redes 87. El sistema educativo es anacrónico. TVE2 España. Recuperado de http://www.youtube.com/watch?v=UlAs4wPtBEU (julio, 2013).</li>
                    <li class="list-group-item">Salata, M. (educator), Dickey, J. (animator), Lai, C. (artist) (s. f). How taking a bath led to Archimedes’ Principle. <span class="font-italic">Ted Ed Lessons Worth Sharing.</span> Recuperado de https://youtu.be/ijj58xD5fDI (agosto, 2018).</li>
                    <li class="list-group-item">CCH UNAM. (2021). <span class="font-italic">Mensaje de bienvenida a la generación 2022 por el Dr. Benjamín Barajas Sánchez.</span> Recuperado de https://www.youtube.com/watch?v=Ilgq1iE79R4 (agosto, 2021).</li>
                    <li class="list-group-item">Universidad Nacional Autónoma de México. (2021). <span class="font-italic">Mensaje del rector Enrique Graue. Bienvenida al ciclo escolar 2021-2022.</span> Recuperado de https://www.youtube.com/watch?v=qeiMH1gjI-g (agosto, 2021).</li>
                </ul>
                <hr class="dotted mt-3 mb-3 morado">
            </div>
        </div>
    </div>

{% endblock %}
