{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Créditos' %}

{% block content %}

    <div class="bg-morado py-3 container-fluid">
        <div class="container">
            <h1 class=" titulobloque wow bounceInUp delay-1s text-right">TEA
                <span>| Tutorial de estrategias de aprendizaje</span></h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- CUSTOM BLOCKQUOTE -->
                <div class="blockquote blockquote-custom bg-warning p-5 effect-1 rounded">
                    <i class="fas fa-user-edit fa-3x"></i>
                    <span class="enfasis ">Créditos</span>
                </div>
                <!-- END -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <h2 class="my-3 morado">Coordinación</h2>
                <ul class="list-group list-group-flush pl-3">
                    <li class="list-group-item">Rocío Angélica Hernández Rodríguez</li>
                    <li class="list-group-item">Seppe De Vreesse Pieters</li>
                    <li class="list-group-item">Judith Adriana Díaz Rivera</li>
                    <li class="list-group-item">Juventino Ávila Ramos</li>
                </ul>
                <h2 class="my-3 morado">Diseño Instruccional</h2>
                <ul class="list-group list-group-flush pl-3">
                    <li class="list-group-item">Yadira Jannet Jiménez Taboada</li>
                    <li class="list-group-item">Areli Flores Martínez</li>
                    <li class="list-group-item">Jocelin Venegas Martínez</li>
                    <li class="list-group-item">Jazmín Acevedo Santiago</li>
                    <li class="list-group-item">Seppe De Vreesse Pieters</li>

                </ul>
                <h2 class="my-3 morado">Diseño Gráfico</h2>
                <ul class="list-group list-group-flush pl-3">
                    <li class="list-group-item">Karla Gabriela Moreno Vega</li>
                    <li class="list-group-item">Jesús Rodrigo Aizpuru Parra</li>
                </ul>
                <h2 class="my-3 morado">Ilustración</h2>
                <ul class="list-group list-group-flush pl-3">
                    <li class="list-group-item">Ariadna Josefina Arenas Jiménez</li>
                </ul>
                <h2 class="my-3 morado">Programación</h2>
                <ul class="list-group list-group-flush pl-3">
                    <li class="list-group-item">Jonathan Bailon Segura</li>
                </ul>
                <h2 class="my-3 morado">Desarrollo de contenidos</h2>
                <ul class="list-group list-group-flush pl-3">
                    <li class="list-group-item">Alejandra Rivera Ferreiro</li>
                    <li class="list-group-item">Ana María Sosa Reyes</li>
                    <li class="list-group-item">Areli Flores Martínez</li>
                    <li class="list-group-item">Claudia Durán Olmos</li>
                    <li class="list-group-item">David Méndez García</li>
                    <li class="list-group-item">Jazmín Acevedo Santiago</li>
                    <li class="list-group-item">Jocelin Venegas Martínez</li>
                    <li class="list-group-item">Judith Adriana Díaz Rivera</li>
                    <li class="list-group-item">Lidia Lilia Guzmán Marín</li>
                    <li class="list-group-item">María de los Ángeles Bautista Zamudio</li>
                    <li class="list-group-item">Rubicelda Lira Pérez</li>
                    <li class="list-group-item">Seppe De Vreesse Pieters</li>
                    <li class="list-group-item">Yadira Jannet Jiménez Taboada</li>
                </ul>
            </div>
        </div>
    </div>



{% endblock %}
