{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Directorio' %}

{% block content %}

    <div class="bg-morado py-3 container-fluid">
        <div class="container">
            <h1 class=" titulobloque wow bounceInUp delay-1s text-right">TEA
                <span>| Tutorial de estrategias de aprendizaje</span></h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- CUSTOM BLOCKQUOTE -->
                <div class="blockquote blockquote-custom bg-warning p-5 effect-1 rounded">
                    <i class="fas fa-address-book fa-3x"></i>
                    <span class="enfasis ">Directorio</span>
                </div>
                <!-- END -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-10 mx-auto text-center">
                <dl>
                   <dt>Director General</dt>
                   <dd>Dr. Benjamín Barajas Sánchez</dd>
               </dl>

               <dl>
                   <dt>Secretaria General</dt>
                   <dd>Mtra. Silvia Velasco Ruiz</dd>
               </dl>

               <dl>
                   <dt>Secretaria Académica</dt>
                   <dd>Lic. María Elena Juárez Sánchez</dd>
               </dl>

               <dl>
                   <dt>Secretaria Administrativa</dt>
                   <dd>Lic. Rocío Carrillo Camargo</dd>
               </dl>

               <dl>
                   <dt>Secretaria de Servicios de Apoyo al Aprendizajes</dt>
                   <dd>Mtra. María Patricia García Pavón</dd>
               </dl>

               <dl>
                   <dt>Secretario de Planeación</dt>
                   <dd>Lic. Miguel Ortega del Valle</dd>
               </dl>

               <dl>
                   <dt>Secretaria Estudiantil</dt>
                   <dd>Lic. Mayra Monsalvo Carmona</dd>
               </dl>

               <dl>
                   <dt>Secretaria de Programas Institucionales</dt>
                   <dd>Lic. Víctor Manuel Sandoval González</dd>
               </dl>

               <dl>
                   <dt>Secretaria de Comunicación Institucional</dt>
                   <dd>Lic. Héctor Baca Espinoza</dd>
               </dl>

               <dl>
                   <dt>Secretario de Informática</dt>
                   <dd>Ing. Armando Rodríguez Arguijo</dd>
               </dl>
            </div>
        </div>
    </div>



{% endblock %}
