<div class="row minh-100">
    <div class="col-12 ">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="{{base_path()}}bloque1/el-cch">1</a></li>
            <li class="page-item"><a class="page-link" href="{{base_path()}}bloque1/modelo-educativo">2</a></li>
            <li class="page-item"><a class="page-link" href="{{base_path()}}bloque1/asignaturas-areas">3</a></li>
          </ul>
        </nav>
    </div>
</div>
