<div class="container my-5 josh-js" data-josh-anim-name="fadeInUp">
    <div class="row">
      <div class="col-12 col-md-7 mx-auto justify-content-around d-flex">
        <div class="resuelto bg-verde shadow">
            <i class="fas fa-check fa-5x morado"></i>
        </div>
        <span class="enfasis float-left verde ml-xs-3 ml-sm-3">Ya has enviado esta actividad</span>
      </div>
    </div>
</div>
