<div id="FormError" class="modal fade">
    <div class="modal-dialog modal-confirm modal-alerta">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div class="icon-box">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h4>¡Ups!</h4>
                <p>Responde todas las preguntas para poder continuar.</p>
            </div>
        </div>
    </div>
</div>