{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Recursos para aprender' %}

{% block content %}
    <!-- aqui va el codigo html -->
<div class="indexbloque justify-content-between d-flex flex-column bg-verde">
    <div class="container-fluid d-flex h-100 mt-3 josh-js" data-josh-anim-name="bounceInDown">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-8 col-md-5 col-lg-5">
                <img class="img-fluid" alt="" src="/img/bloque3/bloquetres-int.png">
            </div>
            <div class="col-11 col-lg-5">
                <h2 class="titulobloque">Recursos para aprender</h2>
                <div class="proposito mt-3"> El Colegio de Ciencias y Humanidades tiene un enfoque innovador que integra los conocimientos de varias disciplinas en cuatro áreas. En este bloque te presentamos una serie de recursos en línea para que aprendas de manera autónoma.</div>
                <ul class="preguntas mt-5 mb-5">
                    <li>
                        <i class="fas fa-long-arrow-alt-right "></i>
                        &nbsp;&nbsp; ¿Para qué estudiar Ciencias Experimentales?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right"></i>
                        &nbsp;&nbsp; ¿Para qué las Matemáticas?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right "></i>
                        &nbsp;&nbsp; ¿Para qué estudiar Historia y Ciencias Sociales? </li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right "></i>
                        &nbsp;&nbsp; ¿Para qué los Talleres de Lenguaje y Comunicación?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right "></i>
                        &nbsp;&nbsp; ¿Para qué aprender una lengua extranjera? </li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right"></i>
                        &nbsp;&nbsp; ¿Qué es el Portal Académico?  </li>
                </ul>
                <div class="mt-3 text-center frase"><span class=" font-weight-light">Descubre las respuestas y más a continuación... </span> <a href="{{base_path()}}bloques/recursos/ciencias-experimentales"" class="btn-vamos p-2 btn-block my-3 hvr-glow w-75 mx-auto">Vamos</a></div>
            </div>
        </div>
    </div>
        {%if usuario.tipo == "P" %}
        <div class="container-fluid josh-js seccion-tutor" data-josh-anim-name="bounceInUp">
            <div class="container">
                <div class="row py-5">
                    <div class="col-12 ">
                        <h3 class="font-weight-bold">Hola {{usuario.nombre}} {{usuario.apellidos}}</h3>
                        <p>A continuación te mostramos algunas sugerencias para que puedas vincular la información de este bloque con las actividades que se encuentran en el cuadernillo “<a href="https://www.cch.unam.mx/sites/default/files/PAT1.pdf" target="_blank">Programa de Acción tutoral de primer semestre</a >”, y así complementar y reforzar tus acciones como tutor(a).</p>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-2 d-flex justify-content-end">
                                <a href="#"><i class="fas fa-file-pdf"></i></a>
                            </div>
                            <div class="col-6">
                                <a href="#" target="_blank" class="lead">Bloque 3. Guía para tutoría</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
