{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Aprender a aprender' %}

{% block content %}
<!-- aqui va el codigo html -->
    <div class="indexbloque bg-rosa align-items-center">
        <div class="container-fluid">
            <div class="row justify-content-center josh-js" data-josh-anim-name="fadeInUp">
                <div class="col-8 col-md-5 col-lg-5">
                    <img class="img-fluid" alt="" src="/img/bloque2/bloquedos-int.png">
                </div>
                <div class="col-11 col-sm-11 col-lg-5">
                    <h2 class="titulobloque">Aprender a aprender</h2>
                    <div class="proposito mt-3 mb-3">El modelo educativo del CCH centra su concepción del proceso de enseñanza-aprendizaje en el “aprender a aprender”. Para lograr aprender a aprender a lo largo de tu vida es necesario que desarrolles un pensamiento estratégico, que domines técnicas y procedimientos y que reflexiones y autorregules tu proceso de aprendizaje a partir de ciertos hábitos de estudio.</div>
                    <ul class="preguntas">
                        <li>¿Cómo aprendemos?</li>
                        <li>¿Eres un alumno activo, reflexivo, teórico o pragmático?</li>
                        <li>¿Qué es el efecto mariposa? </li>
                        <li>¿Cómo se explica el amor en términos biológicos? </li>
                        <li>¿Cómo consultar libros en la biblioteca digital del CCH? </li>
                        <li>¿Cuáles son tus hábitos de estudio? </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-4 josh-js" data-josh-anim-name="fadeInUp">
            <div class="row">
                <div class="col-11 mx-auto">
                    <div class="my-3 w-100 text-center frase"><span class="amarillo font-weight-light">Descubre tu estilo de aprendizaje y reflexiona acerca de tus estrategias, técnicas y hábitos para aprender...</span>
                        <div class="w-100 mt-4"><a href="{{base_path()}}bloques/aprender/que-es-aprender" class="btn-vamos px-5 d-inline py-2 btn-block my-3 mx-auto">Vamos</a></div></div>
                </div>
            </div>
        </div>
    </div>
    {%if usuario.tipo == "P" %}
        <div id="tutores" class="container-fluid seccion-tutor josh-js" data-josh-anim-name="fadeIn">
            <div class="seccion-tutor-icono">
                <i class="fas fa-chalkboard-teacher"></i> <span class="font-weight-light">sección</span><span >tutores</span>
            </div>
            <div class="container">
                <div class="row py-5">
                    <div class="col-12">
                        <h2><i class="fas fa-chalkboard-teacher"></i> Sección tutores</h2>
                        <h3 class="font-weight-bold">Hola {{usuario.nombre}} {{usuario.apellidos}}</h3>
                        <div class="row mt-3">
                            <div class="col-12 col-lg-6 ">
                                <p>A continuación te mostramos algunas sugerencias para que puedas vincular la información de este bloque con las actividades que se encuentran en el cuadernillo “<a href="https://www.cch.unam.mx/sites/default/files/PAT1.pdf" target="_blank">Programa de Acción tutoral de primer semestre</a >”, y así complementar y reforzar tus acciones como tutor(a).</p>
                                <div class="row d-flex justify-content-center align-items-center mb-5">
                                    <div class="col-2 d-flex justify-content-end">
                                        <a href="/doc/bloque_2_tutores.pdf"><i class="fas fa-file-pdf"></i></a>
                                    </div>
                                    <div class="col-8">
                                        <a href="/doc/bloque_2_tutores.pdf" target="_blank" class="lead">Bloque 2. Guía para tutoría</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 ">
                                <p>También te invitamos a revisar el documento “Estilos de aprendizaje y Tutoria” donde te explicamos la importancia de conocer el estilo de aprendizaje de las y los estudiantes, y cómo esto complementa tu labor como tutor(a): </p>
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-2 d-flex justify-content-end">
                                        <a href="/doc/estilo_aprendizaje_tutores.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a>
                                    </div>
                                    <div class="col-8">
                                        <a href="/doc/estilo_aprendizaje_tutores.pdf" target="_blank" class="lead">Estilos de aprendizaje y Tutoría</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'partials/flecha-scroll.twig' %}
    {% endif %}
{% endblock %}
