{% extends 'base/app-bloques.twig' %}

{% set page_title = 'El CCH' %}

{% block content %}

    <div class="container-fluid bunoini wow bounceInDown">
        <div class="row">
            <div class="col-lg-4 d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block">
                <img class="img-fluid" alt="" src="/img/bloque1/bloqueuno-int.png">
            </div>
            <div class="col-lg-5 col-md-12 mt-5">
                <h2 class="titulobloque">El CCH y su modelo educativo</h2>
                <div class="proposito mt-3">El Colegio de Ciencias y Humanidades propone un modelo educativo y una forma de enseñar y aprender distintos de otros sistemas de Educación Media Superior. Descubre sus principios y lo que se espera de ti, alumno de nuevo ingreso.</div>
                <ul class="preguntas mt-5 mb-5">
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Qué es aprender a aprender?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Qué materias cursas en el Colegio?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Por qué es atractivo su Modelo Educativo?</li>
                </ul>
                <div class="font-weight-light amarillo mt-3" style="font-size: 1.8rem;">Aprende más acerca de tu Colegio ...</div>
            </div>
        </div>
    </div>
    <div class="container wow fadeInUp">
        <div class="row mt-2">
            <div class="col-md-10 mx-auto">
                <img class="img-fluid" alt="el CCH" src="/img/bloque1/b1_01_01.jpg">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>¿Qué es el Colegio de Ciencias y Humanidades (CCH)?</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-10 mx-auto">
                <p>Es una escuela de nivel bachillerato que forma parte de la UNAM, tiene un carácter propedéutico y general. Esto significa, que la formación que recibirás en el CCH te servirá para continuar estudios superiores en los campos humanístico, social,
                    científico y tecnológico.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-rosa mt-3 mb-5  wow fadeInUp">
        <div class="container">
            <div class="p-2 text-white lead">
                <i class="fas fa-film"></i>
                &nbsp;&nbsp; Conoce sobre la historia del Colegio:</div>
        </div>
    </div>
    <div class="container  wow fadeInUp">
        <div class="row">
            <div class="col-lg-9">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XaePaFEmngI" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
            <div class="col-lg-3 bg-rosa text-white">
                <h3 class="text-center text-white text-light mt-5">¿Qué espera de ti el Colegio?</h3>
                <p class="mt-5 text-white">Que seas sujeto, actor de tu propia formación, de la cultura de tu medio, capaz de obtener, jerarquizar y validar información, utilizando instrumentos clásicos y tecnológicos para resolver con ello nuevos problemas. El CCH
                    busca que tú, al egresar, respondas al perfil de su
                    <a href="https://www.cch.unam.mx/plandeestudios" target="_blank">Plan de Estudios.</a>
                </p>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-10 mx-auto">
                <h3 class="rosa">¿Qué te ofrece el Colegio?</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Es una
                        <span class="font-weight-bold">institución innovadora</span>
                        que busca constantemente adaptarse a los cambios que marca la modernidad.</li>
                    <li class="list-group-item">A través de las asignaturas de las diferentes áreas del Colegio, se ofrecen herramientas que sirven de apoyo a tu
                        <span class="font-weight-bold">formación académica</span>
                        para que desarrolles las habilidades, actitudes y valores que te permitan desenvolverte en tu vida escolar y profesional.</li>
                    <li class="list-group-item">Te proporciona las
                        <span class="font-weight-bold">bases</span>
                        para cursar una
                        <span class="font-weight-bold">carrera profesional.</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-azul  wow fadeInUp">
        <div class="container">
            <div class="p-2 text-white lead">
                <i class="fas fa-film"></i>
                &nbsp;&nbsp; Conoce tu plantel en voz de Ex alumnos y profesores que comparten contigo sus experiencias en el CCH:</div>
        </div>
    </div>
    <div class="container mt-2  wow fadeInUp">
        <div class="row">
            <div class="col-md-11 offset-md-1">
                <p class="azul">Haz clic en cada plantel para ver los videos.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5  wow fadeInUp">
        <div class="col-lg-8 mx-auto">
            <div class="row">
                <div class="col">
                    <!-- Button trigger modal -->
                    <a href="#" class="video-btn hvr-bob" data-toggle="modal" data-src="https://www.youtube.com/embed/OaE7F_EZYcY" data-target="#VideosModal">
                        <img class="img-fluid" alt="Vallejo" src="/img/bloque1/b1_01_vallejo.png"></a>
                    <p class="text-center text-secondary mt-2">¿Sabías que el CCH Vallejo tiene un “Museo vivo de plantas” y un mariposario?</p>
                </div>
                <div class="col">
                    <!-- Button trigger modal -->
                    <a href="#" class="video-btn hvr-bob" data-toggle="modal" data-src="https://www.youtube.com/embed/jPriUSPsWm0" data-target="#VideosModal">
                        <img class="img-fluid" alt="Vallejo" src="/img/bloque1/b1_01_naucalpan.png"></a>
                    <p class="text-center text-secondary mt-2">Conoce el taller de óptica y astronomía; y el proyecto editorial del CCH Naucalpan</p>
                </div>
                <div class="col">
                    <!-- Button trigger modal -->
                    <a href="#" class="video-btn hvr-bob" data-toggle="modal" data-src="https://www.youtube.com/embed/_nYUZwPf548" data-target="#VideosModal">
                        <img class="img-fluid" alt="Vallejo" src="/img/bloque1/b1_01_azca.png"></a>
                    <p class="text-center text-secondary mt-2">El CCH Azcapotzalco tiene diversos talleres, como el de recreación y la comunidad de debate estudiantil</p>
                </div>
                <div class="col">
                    <!-- Button trigger modal -->
                    <a href="#" class="video-btn hvr-bob" data-toggle="modal" data-src="https://www.youtube.com/embed/t29XQiMUBjI" data-target="#VideosModal">
                        <img class="img-fluid" alt="Vallejo" src="/img/bloque1/b1_01_oriente.png"></a>
                    <p class="text-center text-secondary mt-2">Este plantel tiene una de las bibliotecas más completas del oriente de la ciudad, así como un club de robótica e informática</p>
                </div>
                <div class="col">
                    <!-- Button trigger modal -->
                    <a href="#" class="video-btn hvr-bob" data-toggle="modal" data-src="https://www.youtube.com/embed/sAGT44WpE7Y" data-target="#VideosModal">
                        <img class="img-fluid" alt="Vallejo" src="/img/bloque1/b1_01_sur.png"></a>
                    <p class="text-center text-secondary mt-2">¿Sabes qué es el sendero ecológico y la propagación de plantas? Conoce qué es lo que se está haciendo el plantel Sur al respecto</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="VideosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row minh-100">
            <div class="col-12 ">
                <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-lg flex-wrap justify-content-center">
                    <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/el-cch/que-es-el-cch">1</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/el-cch/modelo-educativo">2</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/el-cch/asignaturas-areas">3</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/el-cch/modelo-educativo"><i class="fas fa-angle-double-right"></i></a></li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
