{% extends 'base/app-bloques.twig' %}

{% set page_title = 'El CCH' %}

{% block content %}
    <!-- aqui va el codigo html -->
<div class="indexbloque justify-content-between d-flex flex-column bg-azul">
    <div class="container-fluid d-flex h-100 mt-3 josh-js" data-josh-anim-name="bounceInDown">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-8 col-md-5 col-lg-5">
                <img class="img-fluid" alt="" src="/img/bloque1/bloqueuno-int.png">
            </div>
            <div class="col-11 col-lg-5">
                <h2 class="titulobloque">El CCH y su modelo educativo</h2>
                <div class="proposito mt-3">El Colegio de Ciencias y Humanidades propone un modelo educativo y una forma de enseñar y aprender distintos de otros sistemas de Educación Media Superior. Descubre sus principios y lo que se espera de ti, alumno de nuevo ingreso.</div>
                <ul class="preguntas mt-5 mb-5">
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Qué es aprender a aprender?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Qué materias cursas en el Colegio?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Por qué es atractivo su Modelo Educativo?</li>
                </ul>
                <div class="mt-3 text-center frase"><span class="amarillo font-weight-light">Aprende más acerca de tu Colegio ...</span> <a href="{{base_path()}}bloques/el-cch/que-es-el-cch" class="btn-vamos p-2 btn-block my-3 w-75 mx-auto">Vamos</a></div>
            </div>
        </div>

    </div>
    {%if usuario.tipo == "P" %}
        <div class="container-fluid josh-js seccion-tutor" data-josh-anim-name="bounceInUp">
            <div class="seccion-tutor-icono d-flex align-items-center"><i class="fas fa-chalkboard-teacher"></i> <span class="font-weight-light">sección</span><span >tutores</span></div>
            <div class="container">
                <div class="row py-5">
                    <div class="col-12 ">
                        <h3 class="font-weight-bold">Hola {{usuario.nombre}} {{usuario.apellidos}}</h3>
                        <p>A continuación te mostramos algunas sugerencias para que puedas vincular la información de este bloque con las actividades que se encuentran en el cuadernillo “<a href="https://www.cch.unam.mx/sites/default/files/PAT1.pdf" target="_blank">Programa de Acción tutoral de primer semestre</a >”, y así complementar y reforzar tus acciones como tutor(a).</p>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-2 d-flex justify-content-end">
                                <a href="/doc/bloque_1_tutores.pdf" target="_blank" class="hvr-bob"><i class="fas fa-file-pdf"></i></a>
                            </div>
                            <div class="col-6">
                                <a href="/doc/bloque_1_tutores.pdf" target="_blank" class="lead">Bloque 1. Guía para tutoría</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
