{% extends 'base/app-bloques.twig' %}

{% set page_title = 'El CCH' %}

{% block content %}
    <!-- aqui va el codigo html -->
<div class="indexbloque d-flex bg-azul">
    <div class="container-fluid align-self-center  josh-js" data-josh-anim-name="bounceInDown">
        <div class="row d-flex align-items-center justify-content-center align-items-center">
            <div class="col-8 col-md-5 col-lg-5">
                <img class="img-fluid" alt="" src="/img/bloque1/bloqueuno-int.png">
            </div>
            <div class="col-11 col-lg-5">
                <h2 class="titulobloque">El CCH y su modelo educativo</h2>
                <div class="proposito mt-3">El Colegio de Ciencias y Humanidades propone un modelo educativo y una forma de enseñar y aprender distintos de otros sistemas de Educación Media Superior. Descubre sus principios y lo que se espera de ti, alumno de nuevo ingreso.</div>
                <ul class="preguntas mt-5 mb-5">
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Qué es aprender a aprender?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Qué materias cursas en el Colegio?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Por qué es atractivo su Modelo Educativo?</li>
                </ul>
                <div class="font-weight-light amarillo mt-3 text-center" style="font-size: 1.8rem;">Aprende más acerca de tu Colegio ... <a href="{{base_path()}}bloques/el-cch/que-es-el-cch" class="btn btn-lg bg-amarillo btn-block my-3 hvr-glow w-75 mx-auto">Vamos</a></div>
            </div>
        </div>
    </div>


</div>
{% endblock %}
